{% extends "base.html.twig" %}

{% block body %}
<div class="card-group support mt-3 mt-lg-5">
    <div class="card border-dark">
        <h1 class="card-title p-3">Admin Shit</h1>
        <div class="card-body">

            <p class="text-center mb-5"><a href="https://www.patreon.com/oauth2/authorize?response_type=code&client_id={{ app.request.server.get('PATREON_CLIENT_ID') }}&redirect_uri={{ app.request.server.get('PATREON_REDIRECT_URI') }}">Login to Patreon To Access Pro Features</a></p>

            <a href="/admin/users">User Stuff</a>
        </div>
    </div>
</div>

{% endblock %}