{% extends "base.html.twig" %}

{% block body %}
<div class="card-group support mt-3 mt-lg-5">
    <div class="card border-dark">
        <h1 class="card-title p-3">Admin Shit</h1>
        <div class="card-body">
            <div class="card-group support mt-3 mt-lg-5">
                <div class="card border-dark">
                    <div class="card-body">

                    {% if users %}
                        {% include 'admin/_users_list.html.twig' %}
                    {% endif %}

                    {% if user %}
                        {% include 'admin/_one_user.html.twig' %}
                    {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}