body {
    background: url('../images/background.png') no-repeat center;
    background-size: cover;
}

[data-bs-theme=dark] .card-title {
    background-color: #1e1e1e;
}


[data-bs-theme=light] .card-title {
    background-color: #87c3ff22;
}