{% extends "base.html.twig" %}

{% block body %}
</br>
</br>
</br>
<div class="card-group support">
    <div class="card text-center">
        <img src="{{ asset('images/helpyou.jpg') }}" class="card-img-top mx-auto" alt="...Help you.">
        <div class="card-body">
            <h5 class="card-title">Get Support</h5>
            <p class="card-text">Spot something that's not working right, confused and need help, or just want to see the code?</p>
            <p class="card-text">Check out <a href="https://github.com/inconsiderate/rs_tracker">GitHub</a> for ways to fix issues, or ask for help.</p>
            
            <p class="card-text">Join the conversation on Discord or follow me on Bluesky and Twitter for updates and more. Every bit helps!</p>
            <a href="https://github.com/inconsiderate/rs_tracker"><i class="h1 fa-brands fa-discord"></i></a>
            <i class="h1 fa-brands fa-github"></i>
        
        </div>
    </div>
    <div class="card text-center">
        <img src="{{ asset('images/helpme.jpg') }}" class="card-img-top mx-auto" alt="Help me...">
        <div class="card-body">
            <h5 class="card-title">Give Support</h5>
            <p class="card-text">Love this tool? Come over to Patreon to keep me going!</p>
            <p><i class="h1 fa-brands fa-patreon"></i></p>


        </div>
    </div>
</div>
{% endblock %}