<div class="alert alert-info mt-3" role="alert">
    <a href="/profile">Check Your Profile to Unlock Subscriber Benefits:</a><br/>
    - Get notified instantly when a story hits Rising Stars! <br/>
    - Start tracking from rank 50 and get notified when you hit first place!<br/>
    - View and track all Secret RS lists! Time Travel, LitRPG, Reincarnation, and dozens more!
</div>    