<div class="alert alert-info mt-3" role="alert">
    <a href="/profile">Become a Patron to Unlock Subscriber Benefits:</a><br/>
    - Get an alert when any story you're tracking hits <strong>50th</strong> place or higher (free accounts alert at 20)! <br/>
    - Track all of the genres Rising Stars lists, including <strong>hidden</strong> genres (dungeon, time-travel, xianxia, harem, gender-bender, etc).!<br/>
    - View advanced analytics, such as highest rank over time!<br/>
</div>