<div class="card">
    <h2 class="pt-3 text-center"><i class="fa fa-meteor fa-rotate-180"></i> Highest Rankings by Hidden Genre <i class="fa fa-meteor fa-rotate-90"></i></h2>
    <p class="card-text text-center mb-4" style="font-size: small;">Highest ranking of all time</p>
    <div class="col-12">
        <div class="card-title p-md-2 mb-0">
            <div class="card-body p-md-2">
                <div class="row">
                    {% if app.user and app.user.isSubscribed %}
                      <canvas id="tagsChart"></canvas>
                    {% else %}
                      <a href="/profile" class="text-center">Become a Patron to Unlock Subscriber Benefits</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
(async function () {
  const tagChartData = {{ tagChartData|raw }}; 
  const datasets = tagChartData.map(item => ({
    label: item.label,
    data: item.data.map(row => ({
      x: row.x,
      y: row.y,
      r: row.r,
    })),
    pointRadius: 5, 
  }));

  new Chart(document.getElementById('tagsChart'), {
    type: 'scatter',
    options: {
      aspectRatio: 2,
      scales: {
        x: {
          type: 'category',
          labels: [...new Set(tagChartData.flatMap(item => item.data.map(row => row.genre)))],
          title: {
            display: true,
            text: 'Genres',
          },
        },
        y: {
          min: 1,
          title: {
            display: true,
            text: 'Rank',
          },
          reverse: true, // Reverse the y-axis so the best rank is at the top
        },
      },
    },
    data: {
      datasets: datasets,
    },
  });
})();
</script>