{% extends "base.html.twig" %}
{% block body %}

<div class="card-group support mt-3 mt-lg-5">
    <div class="card col-md-6 m-1 p-5">
        <h4 class="card-title p-3 text-center">Terms of Service</h4>
        <div class="card-body">
            <p>Effective Date: Feb 27, 2025</p>

            <h2>Welcome to Royal Road Watch!</h2> <p>These Terms of Service ("Terms") govern your use of our service, which involves receiving email notifications related to our platform. By subscribing to our service and providing your email address, you agree to these Terms.</p> <h2>1. Agreement to Receive Emails</h2> <p>By using our service, you agree to receive email notifications from us. These emails may include updates, alerts, newsletters, or promotional offers related to Royal Road Watch. You acknowledge that these emails are an essential part of our service, and you consent to receiving them at the email address you provide.</p> <h2>2. User Rights and Responsibilities</h2> <p>You are responsible for ensuring that the email address you provide is accurate and up-to-date.</p> <p>You must ensure that you are able to receive emails from us and that our emails do not get filtered into your spam or junk folder.</p> <p>You have the right to stop receiving emails from us at any time.</p> <h2>3. Opt-Out/Unsubscribe Policy</h2> <p>You can opt-out of receiving emails from us at any time by adjusting the notification settings in your profile. Simply log into your account, navigate to the notification preferences, and toggle the settings to stop receiving email notifications.</p> <h2>4. Limitation of Liability</h2> <p>By subscribing to receive emails, you agree that Royal Road Watch is not responsible for any indirect, incidental, or consequential damages resulting from email communications.</p> <h2>5. Governing Law and Dispute Resolution</h2> <p>These Terms are governed by the laws of Canada.</p> <h2>6. Contact Information</h2> <p>If you have any questions about these Terms or how to manage your email preferences, please contact us.</p>
        </div>
    </div>
</div>

{% endblock %}