
{% extends "base.html.twig" %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}

<div class="card-group support mt-3 mt-lg-5">
    <div class="card border-dark">
        <div class="card-body">
            <h1 class="h1 mb-3 font-weight-normal">If you can see this page, you're in the wrong timeline.</a></span></h1>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}